<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="emergencyContactsFragment">
    <div class="col-12">
        <div class="panel">
            <div class="panel-header">
                <h5>Assigned Emergency Contacts</h5>
                <div class="btn-box">
                    <input class="btn btn-success" id="emergency-contact-add" type="button" value="Add Record">
                </div>

            </div>
            <div class="panel-body">
                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="emergency_contact_append_div">
                            <div class="col-12">
                                <div class="panel">

                                    <div class="panel-body g-3">
                                        <form
                                                method="post"
                                                th:action="@{/system/employee/saveEmployee/contact}"
                                                th:object="${employeeDetails.empEmergencyContact}"
                                                id="employeeEmergencyContactForm">
                                            <div class="col-12">
                                                <div class="row mb-10">
                                                    <input type="hidden" id="txtEmId" th:field="*{id}">
                                                    <div class="col-xxl-12 col-lg-12 col-sm-12">
                                                        <label class="form-label">Contact Person Name</label>
                                                        <input class="form-control form-control-sm" id="txtName" placeholder="Name" th:field="*{name}"
                                                               type="text">
                                                    </div>

                                                    <div class="col-xxl-12 col-lg-12 col-sm-12">
                                                        <label class="form-label">Relation</label>
                                                        <input class="form-control form-control-sm" id="txtRelationship" placeholder="Relation" th:field="*{relationship}"
                                                               type="text">
                                                    </div>

                                                </div>
                                                <div class="row mb-10">
                                                    <div class="col-xxl-12 col-lg-12 col-sm-12">
                                                        <label class="form-label">Home Telephone</label>
                                                        <input class="form-control form-control-sm" id="txtHomePhone" placeholder="Relation" th:field="*{homePhone}"
                                                               type="text">
                                                    </div>
                                                    <div class="col-xxl-12 col-lg-12 col-sm-12">
                                                        <label class="form-label">Mobile</label>
                                                        <input class="form-control form-control-sm" id="txtMobilePhone" placeholder="Relation" th:field="*{mobilePhone}"
                                                               type="text">
                                                    </div>
                                                    <div class="col-xxl-12 col-lg-12 col-sm-12">
                                                        <label class="form-label">Work Telephone</label>
                                                        <input class="form-control form-control-sm" id="txtOfficePhone" placeholder="Relation" th:field="*{officePhone}"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 d-flex justify-content-end">
                                                <button class="btn btn-sm btn saveEmergencyContact btn-success">Save </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md-8">
                    <table class="table table-dashed table-hover utj-dataTable all-emergency-table table-striped"
                           id="allEmergencyTable">
                        <thead >
                        <tr>
                            <th scope="col">SN</th>
                            <th scope="col">Name</th>
                            <th scope="col">Relationship</th>
                            <th scope="col">Home Telephone</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Work Telephone</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody id="emp_emergency_contacts">

                        <tr th:each="emergencyContact_ , itrStat : ${employeeDetails.employeeEmergencyContactDTOS}">

                            <td th:text="${itrStat.index + 1}"></td>
                            <td th:text="${emergencyContact_.name} ">Name</td>
                            <td th:text="${emergencyContact_.relationship} ">Name</td>
                            <td th:text="${emergencyContact_.homePhone} ">Name</td>
                            <td th:text="${emergencyContact_.mobilePhone} ">Name</td>
                            <td th:text="${emergencyContact_.officePhone} ">Name</td>
                            <td>
                                <div class="btn-box">
<!--                                    <a class="btn btn-sm btn-icon btn-primary" th:data-record-id="${emergencyContact_.id}" onclick="editEmergencyRecord(this)"><i class="fa-light fa-edit"></i></a>-->
                                    <a class="btn btn-sm btn-icon btn-primary" th:data-record-id="${emergencyContact_.id}" onclick="editEmergencyRecord(this)">
                                        <i class="fa-light fa-edit"></i>
                                    </a>

                                    <a class="btn btn-sm btn-icon btn-danger deleteBtn" th:data-id="${emergencyContact_.id}" th:education="${emergencyContact_.id}"><i class="fa-light fa-trash-can"></i></a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                        <!---->
                    </table>

                </div>

                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>