<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="statutoryDetails">
    <!--     Statutory Data     -->
    <form
            method="post"
            th:action="@{/system/employee/saveEmployee}"
            th:object="${employeeDetails.statutoryDetailsDTO}">
    <div class="col-12">
        <div class="panel">
            <div class="panel-header">
                <h5>Statutory Details</h5>
            </div>
            <div class="panel-body">
                <div class="row g-3">
                    <div class="col-xxl-3 col-lg-4 col-sm-6">
                        <label class="form-label"> KRA PIN</label>
                        <input class="form-control form-control-sm"  maxlength="10"  type="text" th:field="*{kraPin}">
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6">
                        <label class="form-label">NSSF Number</label>
                        <input class=" form-control form-control-sm txtNumber"  maxlength="15"  type="text" th:field="*{nssfNo}"/>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6">
                        <label class="form-label">NHIF #</label>
                        <input class=" form-control form-control-sm txtNumber"  maxlength="15"  type="text" th:field="*{nhifNo}"/>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6">
                        <label class="form-label"> Certificate of Good Conduct No</label>
                        <input class=" form-control form-control-sm txtGoodConduct" i maxlength="15"  type="text" th:field="*{certGoodConductNo}"/>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6">
                        <label class="form-label">HELB Benefitiary</label>
                        <label class="radio-inline">
                            <input checked="checked" th:field="*{helbBeneficiary}" th:value="1" type="radio"/>
                            <label>Yes</label>
                        </label>
                        <label class="radio-inline">
                            <input th:field="*{helbBeneficiary}"  th:value="0" type="radio"/>
                            <label >No</label>
                        </label>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6">
                        <label class="form-label"> HELB Clearance Certificate Number
                            <span class="required">*</span>
                        </label>
                        <input class="form-control form-control-sm"  maxlength="200" type="text" th:field="*{helbClearanceNo}">
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-sm btn btn-success">Update Details</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </form>
</div>
</body>
</html>