<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="workFragment">
    <form id="employeeWorkForm"
            method="post"
            th:action="@{/system/employee/saveEmployee}"
            th:object="${employeeDetails.activeEmployeeHistoryPositionFacilityDTO}">
        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <div class="panel-header">
                        <h5>Job Details</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row g-3">
                            <input type="text" name="txtRecordId" id="txtRecordId" hidden th:field="*{emprecordid}"  >
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class=" form-label"> Cadre Category <span class="required">*</span> </label>
                                <select class="form-select" id='ddlCadreCategory'
                                        name='ddlCadreCategory'>
                                    <option value="">Select Cadre Category</option>
                                    <option
                                            th:each="cadreCategory : ${employeeDetails.categories}"
                                            th:value="${cadreCategory.id}"
                                            th:text="${cadreCategory.carderCategoryName}"
                                            th:selected="${cadreCategory.id == employeeDetails.activeDesignationDTO.carderId}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class="form-label">Position /Designation <span class="required">*</span></label>
                                <select class="form-select" id='ddlPos' name='ddlPos' th:field="*{designationId}" >
                                    <option value="">Select Position</option>
                                    <option
                                            th:each="position : ${employeeDetails.designations}"
                                            th:value="${position.id}"
                                            th:text="${position.position_title}"
                                            th:selected="${position.id == employeeDetails.activeEmployeeHistoryPositionFacilityDTO.designationId}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class="form-label"> County<span class="required">*</span></label>
                                <select class="form-select" id='ddlCounty' name='ddlCounty'>
                                    <option value="">Select County</option>
                                    <option th:each="region : ${employeeDetails.counties}" th:value="${region.countyId}" th:text="${region.countyName}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class="form-label"> Sub County<span
                                        class="required">*</span></label>
                                <select class="form-select" id='ddlSubCounty' name='ddlSubCounty'></select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class="form-label"> Duty Station / Facility <span class="required">*</span>
                                </label>
                                <select class="form-select" id='ddlFacility' name='ddlFacility' th:field="*{facilityId}"></select>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="panel">
                    <div class="panel-header">
                        <h5>Current Active Contract Details</h5>
<!--                        <div class="col-md-12 col-sm-12 col-xs-12 form-check">-->
<!--                            <input class="form-check-input" id="show-more" type="checkbox">-->
<!--                            <label class="form-check-label" for="show-more">Include Employment Contract Details</label>-->
<!--                        </div>-->
                    </div>
                    <div class="contract-options">
                        <div class="panel-body  row g-3 ">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class="form-label" for="ddlFY">Contract Financial Year</label>
                                <select class="form-select" id="ddlFY" name="ddlFY" onchange="onFinancialYearChange()" th:field="*{financialYearId}">
                                    <option value="">Choose...</option>
                                    <option th:each="financialYear : ${employeeDetails.financialYearDTOS}" th:value="${financialYear.id}" th:text="${financialYear.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class="form-label"
                                       for="txtStartDate">Start Date </label>
                                <input autocomplete="off" class="form-control datepicker input-width-xlarge"
                                       id="txtStartDate" name="StartDate"
                                       placeholder="Hire date" type="text" th:field="*{dateStarted}">
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class="form-label" for="txtEndDate">End Date </label>
                                <input autocomplete="off" class="form-control datepicker input-width-xlarge"
                                       id="txtEndDate" name="txtEndDate" placeholder="Hire date"
                                       type="text" th:field="*{dateEnded}">
                            </div>
                            <input class="form-control  input-width-xlarge" id="contract_period"
                                   name="contract_period" type="hidden" th:field="*{contractPeriod}">
                            <input class="form-control  input-width-xlarge" id="contract_end_date"
                                   name="contract_end_date" type="hidden" th:field="*{contractEndDate}">
                            <input class="form-control  input-width-xlarge" id="contract_no_months"
                                   name="contract_no_months" type="hidden" th:field="*{expectedMonths}">
                            <input class="form-control  input-width-xlarge" id="contact_year" name="contact_year"
                                   type="hidden" th:field="*{currentContract}">
                            <input class="form-control  input-width-xlarge" id="contract_start_date" name="contract_start_date"
                                   type="hidden" th:field="*{contractStartDate}">
                        </div>
                        <div class="row g-3">
                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn btn-sm btn btn-success" id="submitJobForm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>