<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>HRMIS Employees | UTJ</title>
</head>
<body>
<div layout:fragment="content">
   <div class="dashboard-breadcrumb mb-25">
             <div class="btn-box">
                <a class="btn btn-sm btn-primary" th:href="@{/system/employee/all}">Employee List</a>
                <a class="btn btn-sm btn-primary" th:href="@{/system/employee/new}">Add Employee</a>
                <a class="btn btn-sm btn-primary" th:href="@{/system/employee/reports}">Reports</a>
            </div>
   </div>
    <div class="panel">
        <div class="panel-body">
           <input id="sharedEmployeeId" th:value="${employeeDetails.basicInfoDTO.id}" type="hidden"/>
            <div class="row">
                <div class="col-xxl-3 col-lg-3 col-sm-12 ">
                    <div class="panel">
                        <!--head profile start-->
                        <div class="profile-edit-tab">
                    <div class="admin-profile">
                        <span class="admin-name"
                        th:text="${employeeDetails.basicInfoDTO.firstName + ' ' + (employeeDetails.basicInfoDTO.otherName != null and employeeDetails.basicInfoDTO.otherName != '' ? employeeDetails.basicInfoDTO.otherName + ' ' : '') + employeeDetails.basicInfoDTO.surname}">Mitchell C. Shay</span>
                        <div class="image-wrap">
                            <div class="part-img rounded-circle overflow-hidden">
                                <img alt="admin" th:src="@{../../../assets/images/admin.png}">
                            </div>
                            <button class="image-change"><i class="fa-light fa-camera"></i></button>
                        </div>
	                   </div>
                </div>
                        <!--body profile start-->
                        <div class="panel-body">
                            <!--tab navigations-->
                            <nav class="btn-box  nav-tabs nav-fill d-flex flex-column justify-content-start" id="myTab"
                         role="tablist">
                        <a aria-controls="basic" aria-selected="true" class="  btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#basic" id="basic-tab" role="tab"
                           th:classappend="${activeTab == 'basic'} ? 'active' : ''">
                            <span class="font-weight-bold small text-uppercase">Personal Details</span>
                        </a>
                          <a aria-controls="statutory" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                             data-bs-toggle="tab" href="#statutory" id="statutory-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Statutory Details</span>
                        </a>
                        <a aria-controls="contact" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#contact" id="contact-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Contact Details</span>
                        </a>
                        <a aria-controls="eContact" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#eContact" id="eContact-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Emergency Contacts</span>
                        </a>
                        <a aria-controls="dependents" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#dependents" id="dependents-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Dependents</span>
                        </a>
                        <a aria-controls="work" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#work" id="work-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Job</span>
                        </a>
                        <a aria-controls="salary" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#salary" id="salary-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Salary</span>
                        </a>
                        <a aria-controls="docs" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#docs" id="docs-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Documents</span>
                        </a>
                        <a aria-controls="qualification" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#qualification" id="qualification-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Qualification</span>
                        </a>
                        <a aria-controls="reportingTo" aria-selected="false" class=" btn-sm btn-outline-primary mb-2"
                           data-bs-toggle="tab" href="#reportingTo" id="reportingTo-tab" role="tab">
                            <span class="font-weight-bold small text-uppercase">Report-To</span>
                        </a>
                    </nav>
                        </div>
                        <!--NAvigation ends-->
                    </div>
                </div>
                <div class="col-xxl-9 col-lg-9 col-sm-12 border-start">
                    <div class="tab-content " id="tabContent">
                        <div aria-labelledby="basic-tab" class="row g-3 tab-pane show active" id="basic" role="tabpanel">
                            <span th:replace="~{fragments/employee/personal-details-fragment :: personal-details}"></span>
                            <!--Personal Details Go Here-->
                        </div>
                        <div aria-labelledby="contact-tab" class="row g-3 tab-pane " id="contact" role="tabpanel">
                            <span th:replace="~{fragments/employee/contact-details-fragment :: contact-details}"></span>
                        </div>
                        <div aria-labelledby="statutory-tab" class="row g-3 tab-pane " id="statutory" role="tabpanel">
                            <!--contact tab content goes here-->
                            <span th:replace="~{fragments/employee/statutory-details :: statutoryDetails}"></span>
                        </div>
                        <div aria-labelledby="eContact-tab" class="row g-3 tab-pane " id="eContact" role="tabpanel">
                            <!--Emergency Contact Details Go Here-->
                            <span th:replace="~{fragments/employee/emergencyContact :: emergencyContactsFragment}"></span>
                        </div>
                        <div aria-labelledby="dependents-tab" class="row g-3 tab-pane " id="dependents" role="tabpanel">
                            <span th:replace="~{fragments/employee/dependants :: dependantsFragment}"></span>
                        </div>
                        <div aria-labelledby="work-tab" class="row g-3 tab-pane " id="work" role="tabpanel">
                            <span th:replace="~{fragments/employee/work :: workFragment}"></span>
                            <!--work Details Go Here-->
                        </div>
                        <div aria-labelledby="salary-tab" class="row g-3 tab-pane " id="salary" role="tabpanel">
                            <span th:replace="~{fragments/employee/salary :: salaryFragment}"></span>
                            <!--Salary Details Go Here-->
                        </div>
                        <div aria-labelledby="note-tab" class="row g-3 tab-pane" id="note" role="tabpanel">
                            <!--Notes Details Go Here-->
                            <span th:replace="~{fragments/employee/note :: noteFragment}"></span>
                        </div>
                        <div aria-labelledby="qualification-tab" class="row g-3 tab-pane " id="qualification" role="tabpanel">
                            <span th:replace="~{fragments/employee/qualification :: qualificationFragment}"></span>
                        </div>
                        <div aria-labelledby="docs-tab" class="row g-3 tab-pane" id="docs" role="tabpanel">
                            <span th:replace="~{fragments/employee/documents :: document-details}"></span>
                        </div>

                        <div aria-labelledby="reportingTo-tab" class="row g-3 tab-pane" id="reportingTo" role="tabpanel">
                            <span th:replace="~{fragments/employee/report-to :: reportTo}"></span>
                        </div>
                        <div aria-labelledby="training-tab" class="row g-3 tab-pane" id="training" role="tabpanel"></div>
                        <div aria-labelledby="payslip-tab" class="row g-3 tab-pane fade  rounded bg-white p-5" id="payslip" role="tabpanel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span th:replace="~{fragments/hidden-forms :: hiddenFormsFragment}"></span>
</div>
<th:block layout:fragment="script">
	<!--    <script th:src="@{/assets/vendor/js/jquery.uploader.min.js}"></script>-->
	<script th:src="@{/assets/vendor/js/moment.min.js}"></script>
	<script th:src="@{/assets/vendor/js/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/vendor/js/sweetalert2.all.min.js}"></script>
	<script th:src="@{/assets/vendor/js/select2.min.js}"></script>
	<script th:src="@{/assets/js/select2-init.js}"></script>
	<script th:inline="javascript">
		function editEmergencyRecord(element) {
			var recordId = $(element).data('record-id'); // Get the record ID from the data attribute

			// AJAX call to get the data for this specific record
			$.ajax({
				url: '/hrh/system/employee/emergencyContact/find/' + recordId, // Update this URL to the path of your API
				type: 'GET',
				success: function (data) {
					// Assuming 'data' is the response object containing the emergency contact details
					populateForm(data);
				},
				error: function (xhr, status, error) {
					console.error("Error occurred: " + error);
					// Handle errors here, such as displaying a message to the user
				}
			});
		}
        function editDependantRecord(element) {
            var recordId = $(element).data('record-id'); // Get the record ID from the data attribute

            // AJAX call to get the data for this specific record
            $.ajax({
                url: '/hrh/system/employee/employee-dependant/find/' + recordId, // Update this URL to the path of your API
                type: 'GET',
                success: function (data) {
                    // Assuming 'data' is the response object containing the emergency contact details
                    populateDependantForm(data);
                    $('#dependantModal').show();

                },
                error: function (xhr, status, error) {
                    console.error("Error occurred: " + error);
                    // Handle errors here, such as displaying a message to the user
                }
            });
        }
		function populateForm(data) {
			$('#txtEmId').val(data.id);
			$('#txtName').val(data.name);
			$('#relationshipInput').val(data.relationship);
			$('#txtHomePhone').val(data.homePhone);
			$('#txtMobilePhone').val(data.mobilePhone);
			$('#txtOfficePhone').val(data.officePhone);
		}
		function populateDependantForm(data) {
            $('#txtDependantRecordId').val(data.id);
            $('#txtDependantName').val(data.name);
            $('#txtDependantRelationship').val(data.relationship),
            $('#txtDOB').val(data.dateOfBirth)

		}
        function reloadPageAndSetActiveTab(tabId) {
            // Save the active tab in localStorage to remember it after the page reloads
            localStorage.setItem('activeTab', tabId);

            // Reload the page
            location.reload();
        }
			// Hide the additional form inputs by default

			// $('.contract-options').hide();
			$('.banking-options').hide();
            $('#academic_qualification').hide();
			// Show/hide the additional form inputs when the checkbox is selected/deselected
			$('#show-more').change(function () {
				if (this.checked) {
					$('.contract-options').show();
				} else {
					$('.contract-options').hide();
				}
			});
			$('#show-banking').change(function () {
				if (this.checked) {
					$('.banking-options').show();
				} else {
					$('.banking-options').hide();
				}
			});
			// Add event listener for selecting paneler category
			$("#ddlCounty").change(function () {
                let countyId = $(this).val();
				$.ajax({
					type: "GET",
					url: '/hrh/system/subCounty/list/' + countyId, // Use Thymeleaf URL expression
					success: function (response) {
						// Update the subCounty  select options
						const selectElement = $("#ddlSubCounty");
						selectElement.empty(); // Clear existing options
						selectElement.append('<option value="" selected>Choose...</option>'); // Add default option
						console.log(eval(response));
						// Add options for standardized panelers
						for (let i = 0; i < response.length; i++) {
							console.log(response[i]);
							selectElement.append('<option value="' + response[i].districtId + '">' + response[i].districtName + '</option>');
						}
					},
					error: function (error) {
						// Handle error response here
						console.log("Error fetching : " + error.responseText);
					}
				});
			});
			$("#ddlSubCounty").change(function () {
				let subCountyId = $(this).val();
				$.ajax({
					type: "GET",
					url: '/hrh/system/facility/list/' + subCountyId,
					success: function (response) {
                        // Update the subCounty  select options
						let selectElement = $("#ddlFacility");
						selectElement.empty(); // Clear existing options
						selectElement.append('<option value="" selected>Choose...</option>'); // Add default option
						console.log(eval(response));
						// Add options for standardized panelers
						for (let i = 0; i < response.length; i++) {
							selectElement.append('<option value="' + response[i].centreSanteId + '">' + response[i].subPartnerName + '</option>');
						}
					},
					error: function (error) {
						// Handle error response here
						console.log("Error fetching : " + error.responseText);
					}
				});

			});
			// Add event listener for selecting paneler category
			$("#ddlEmployeeType").change(function () {
				// Fetch standardized panelers based on selected paneler category
				let employeeType = $(this).val();

				$.ajax({
					type: "GET",
					url: '/hrh/system/standard_carder/list/'+employeeType, // Use Thymeleaf URL expression
					success: function (response) {
						// Update the standardized paneler select options
						let selectElement = $("#ddlCadreCategory");
						selectElement.empty(); // Clear existing options
						selectElement.append('<option value="" selected>Choose...</option>'); // Add default option
						console.log(eval(response));
						// Add options for standardized panelers
						for (let i = 0; i < response.length; i++) {
							selectElement.append('<option value="' + response[i].id + '">' + response[i].standardized_cadre_name + '</option>');
						}
					},
					error: function (error) {
						// Handle error response here
						console.log("Error fetching : " + error.responseText);
					}
				});

			});
			// Add event listener for selecting paneler category
			$("#ddlCadreCategory").change(function () {
				let carderCategory = $(this).val();
				$.ajax({
					type: "GET",
					url: '/hrh/system/designation/list/'+carderCategory,
					success: function (response) {
						// Update the standardized carder select options
						let selectElement = $("#ddlPos");
						selectElement.empty(); // Clear existing options
						selectElement.append('<option value="" selected>Choose...</option>'); // Add default option
						console.log(eval(response));
						// Add options for standardized carder
						for (let i = 0; i < response.length; i++) {
							selectElement.append('<option value="' + response[i].id + '">' + response[i].position_title + '</option>');
						}
					},
					error: function (error) {
						// Handle error response here
						console.log("Error fetching : " + error.responseText);
					}
				});

			});
			$('#emergency-contact-add').click(function () {
				$('.emergency_contact_append_div').append(
					'<div class="emergency_contact_row_element">' + $('.row_emergency_contact').html() +
					'</div>');
				$(this).prop('disabled', true);
			});
			$('#addEducationQualification').click(function () {
                // Show the academic qualification section temporarily
                $('#academic_qualification').show();
               		$('.education_qualification_append_div').append(
					'<div class="education_qualification_row_element">' + $('.academic_qualification').html() +
					'</div>');
                // Hide the academic qualification section again
                $('#academic_qualification').hide();
				$(this).prop('disabled', true);
			});
			$('#addExperience').click(function () {
				$('.experience_append_div').append('<div class="experience_row_element">' + $(
					'.row_element2').html() + '</div>');
				$(this).prop('disabled', true);
			});
			$(document).on("click", ".deleteEducationQualification", function () {
				// Remove the education qualification element
				$(this).parents('.education_qualification_row_element').remove();
				// Enable the add button
				$('#addEducationQualification').prop('disabled', false);
			});
			$(document).on("click", ".deleteExperience", function () {
				$(this).parents('.experience_row_element').remove();
				// Enable the add button
				$('#addExperience').prop('disabled', false);

			});
			$(document).on("click", ".cancelEmergencyContact", function () {
				$(this).parents('.experience_row_element').remove();
				// Enable the add button
				$('#addExperience').prop('disabled', false);

			});
        $(document).ready(function () {
            $('#employeeContactForm').on('submit', function (e) {
                const employeeId = $('#sharedEmployeeId').val();
                e.preventDefault(); // Prevent default form submission

                // Create a JavaScript object for the form data
                var formData = {
                    phone: $('#phoneField').val(), // Use the actual IDs of your form fields
                    email: $('#emailField').val(),
                    altPhone: $('#altPhoneField').val(),
                    altEmail: $('#altEmailField').val(),
                    presentAddress: {
                        postalAddress: $('#presentPostalAddressField').val(),
                        cityTown: $('#presentCityTownField').val(),
                        postalCode: $('#presentPostalCodeField').val(),
                        country: $('#presentCountryField').val(),
                        street: $('#presentStreetField').val()
                    },
                    homeAddress: {
                        postalAddress: $('#homePostalAddressField').val(),
                        cityTown: $('#homeCityTownField').val(),
                        postalCode: $('#homePostalCodeField').val(),
                        country: $('#homeCountryField').val(),
                        street: $('#homeStreetField').val()
                    }
                };


                // Convert the formData object to a JSON string
                var jsonData = JSON.stringify(formData);
                // Show a loading message
                Swal.fire({
                    title: 'Processing...',
                    text: 'Please wait while we save the employee details.',
                    icon: 'info',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading()
                    }
                });

                $.ajax({
                    url: '/hrh/system/employee/update-contact-info/' + employeeId, // Replace with your actual endpoint
                    type: 'POST',
                    data: jsonData,
                    contentType: 'application/json', // Set the content type to JSON
                    success: function (response) {
                        // Close the loading message
                        Swal.close();

                        // Show success message
                        Swal.fire({
                            title: 'Success',
                            text: 'Employee saved successfully!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                    },
                    error: function (xhr, status, error) {
                        // Close the loading message
                        Swal.close();

                        // Show error message
                        Swal.fire({
                            title: 'Error',
                            text: 'Error saving employee: ' + error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
            $('#employeeBasicInfoForm').on('submit', function (e) {
                const employeeId = $('#sharedEmployeeId').val();
                e.preventDefault(); // Prevent default form submission

                // Create a JavaScript object for the form data
                var formData = {
                    surname: $('#txtSurname').val(),
                    firstName: $('#txtFirstName').val(),
                    otherName: $('#txtOtherName').val(),
                    nationality: $('#nationality').val(),
                    nationalId: $('#txtNationalId').val(),
                    personNumber: $('#txtEmployeeNumber').val(),
                    dob: $('#txtDob').val(),
                    gender: $('#ddlGender').val(),
                    maritalStatus: $('#ddlMaritalStatus').val(),
                    disability: $('input[name="rbtnDisability"]:checked').val(),
                    disabilityExplain: $('#txtDisabilityExplain').val()
                };


                // Convert the formData object to a JSON string
                var jsonData = JSON.stringify(formData);
                // Show a loading message
                Swal.fire({
                    title: 'Processing...',
                    text: 'Please wait while we save the employee details.',
                    icon: 'info',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading()
                    }
                });

                $.ajax({
                    url: '/hrh/system/employee/update-basic-info/' + employeeId, // Replace with your actual endpoint
                    type: 'POST',
                    data: jsonData,
                    contentType: 'application/json', // Set the content type to JSON
                    success: function (response) {
                        // Close the loading message
                        Swal.close();

                        // Show success message
                        Swal.fire({
                            title: 'Success',
                            text: 'Employee saved successfully!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                    },
                    error: function (xhr, status, error) {
                        // Close the loading message
                        Swal.close();

                        // Show error message
                        Swal.fire({
                            title: 'Error',
                            text: 'Error saving employee: ' + error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
            $('#employeeStatutoryInfoForm').on('submit', function (e) {
                const employeeId = $('#sharedEmployeeId').val();
                e.preventDefault(); // Prevent default form submission

                // Create a JavaScript object for the form data
                var formData = {
                    kraPin: $('#txtKraPin').val(),
                    nssfNo: $('#txtNssfNo').val(),
                    nhifNo: $('#txtNhifNo').val(),
                    certGoodConductNo: $('#txtCertGoodConductNo').val(),
                    helbClearanceNo: $('#txtHelbClearanceNo').val(),
                    helbBeneficiary: $('input[name="rbtnDisability"]:checked').val()
                };
                // Convert the formData object to a JSON string
                var jsonData = JSON.stringify(formData);
                // Show a loading message
                Swal.fire({
                    title: 'Processing...',
                    text: 'Please wait while we save the employee details.',
                    icon: 'info',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading()
                    }
                });

                $.ajax({
                    url: '/hrh/system/employee/update-statutory-info/' + employeeId, // Replace with your actual endpoint
                    type: 'POST',
                    data: jsonData,
                    contentType: 'application/json', // Set the content type to JSON
                    success: function (response) {
                        // Close the loading message
                        Swal.close();

                        // Show success message
                        Swal.fire({
                            title: 'Success',
                            text: 'Employee saved successfully!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                    },
                    error: function (xhr, status, error) {
                        // Close the loading message
                        Swal.close();

                        // Show error message
                        Swal.fire({
                            title: 'Error',
                            text: 'Error saving employee: ' + error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
            $('#employeeEmergencyContactForm').on('submit', function (e) {
                const employeeId = $('#sharedEmployeeId').val();
                e.preventDefault(); // Prevent default form submission

                // Create a JavaScript object for the form data
                var formData = {
                    id: $('#txtEmId').val(),
                    name: $('#txtName').val(),
                    employeeId: employeeId,
                    relationship: $('#txtRelationship').val(),
                    homePhone: $('#txtHomePhone').val(),
                    mobilePhone: $('#txtMobilePhone').val(),
                    officePhone: $('#txtOfficePhone').val()
                };
                // Convert the formData object to a JSON string
                var jsonData = JSON.stringify(formData);
                // Show a loading message
                Swal.fire({
                    title: 'Processing...',
                    text: 'Please wait while we save the employee details.',
                    icon: 'info',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading()
                    }
                });

                $.ajax({
                    url: '/hrh/system/employee/update-emergency-contact-info/' + employeeId, // Replace with your actual endpoint
                    type: 'POST',
                    data: jsonData,
                    contentType: 'application/json', // Set the content type to JSON
                    success: function (response) {
                        // Close the loading message
                        Swal.close();

                        // Show success message
                        Swal.fire({
                            title: 'Success',
                            text: 'Employee saved successfully!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                    },
                    error: function (xhr, status, error) {
                        // Close the loading message
                        Swal.close();

                        // Show error message
                        Swal.fire({
                            title: 'Error',
                            text: 'Error saving employee: ' + error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
            $("#submitAcademicQualificationForm").click(function (e) {
                e.preventDefault(); // Prevent default form submission
                 console.log('Form submitted');
                const employeeId = $('#sharedEmployeeId').val();

                // Create a JavaScript object for the form data
                var formData = {
                    id: $('#txtRecordId').val(),
                    education: $('#ddlEducationId').val(),
                    institute: $('#txtInstitute').val(),
                    major: $('#txtMajor').val(),
                    year: $('#txtYear').val(),
                    score: $('#txtScore').val(),
                    startDate: $('#txtStartDate').val(),
                    endDate: $('#txtEndDate').val()
                };


                // Convert the formData object to a JSON string
                var jsonData = JSON.stringify(formData);
                // Show a loading message
                Swal.fire({
                    title: 'Processing...',
                    text: 'Please wait while we save the employee details.',
                    icon: 'info',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading()
                    }
                });

                $.ajax({
                    url: '/hrh/system/qualification/employee/employee-education/save/' + employeeId,
                    type: 'POST',
                    data: jsonData,
                    contentType: 'application/json', // Set the content type to JSON
                    success: function (response) {
                        // Close the loading message
                        Swal.close();

                        // Show success message
                        Swal.fire({
                            title: 'Success',
                            text: 'Employee saved successfully!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Set the active tab to the desired tab ID
                                var activeTabId = 'qualification'; // Change this to your desired tab ID
                                // Call the function to reload the page and set the active tab
                                reloadPageAndSetActiveTab(activeTabId);
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        // Close the loading message
                        Swal.close();

                        // Show error message
                        Swal.fire({
                            title: 'Error',
                            text: 'Error saving employee: ' + error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
            $("#submitDependantForm").click(function (e) {
                e.preventDefault(); // Prevent default form submission
                 console.log('Form submitted');
                const employeeId = $('#sharedEmployeeId').val();

                // Create a JavaScript object for the form data
                var formData = {
                    id: $('#txtDependantRecordId').val(),
                    name: $('#txtDependantName').val(),
                    relationship: $('#txtDependantRelationship').val(),
                    dateOfBirth: $('#txtDOB').val()
                };


                // Convert the formData object to a JSON string
                var jsonData = JSON.stringify(formData);
                // Show a loading message
                Swal.fire({
                    title: 'Processing...',
                    text: 'Please wait while we save the employee details.',
                    icon: 'info',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading()
                    }
                });

                $.ajax({
                    url: '/hrh/system/employee/employee-dependant/update-dependant-info/' + employeeId,
                    type: 'POST',
                    data: jsonData,
                    contentType: 'application/json', // Set the content type to JSON
                    success: function (response) {
                        // Close the loading message
                        Swal.close();

                        // Show success message
                        Swal.fire({
                            title: 'Success',
                            text: 'Employee saved successfully!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Set the active tab to the desired tab ID
                                var activeTabId = 'dependents'; // Change this to your desired tab ID
                                // Call the function to reload the page and set the active tab
                                reloadPageAndSetActiveTab(activeTabId);
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        // Close the loading message
                        Swal.close();

                        // Show error message
                        Swal.fire({
                            title: 'Error',
                            text: 'Error saving employee: ' + error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        });


	</script>


</th:block>
</body>

</html>