<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/assets/vendor/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/assets/vendor/js/jquery.overlayScrollbars.min.js}"></script>
<script th:src="@{/assets/vendor/js/jquery.uploader.min.js}"></script>
<script th:src="@{/assets/vendor/js/apexcharts.js}"></script>
<script th:src="@{/assets/vendor/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/vendor/js/moment.min.js}"></script>
<script th:src="@{/assets/vendor/js/daterangepicker.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>


</body>
</html>