<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-sidebar" th:fragment="sidebar">
    <div class="main-menu">

        <ul class="sidebar-menu scrollable">
            <li class="sidebar-item">
                <a class="sidebar-link" role="button" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link-group-title has-sub" role="button">Administration</a>
                <ul class="sidebar-link-group">
                    <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}">
                        <a class="sidebar-link has-sub" data-dropdown="roleMGT" role="button"><span class="nav-icon"><i
                                class="fa-light fa-sliders-up"></i></span> <span class="sidebar-txt">Manage Role</span></a>
                        <ul class="sidebar-dropdown-menu" id="roleMGT">
                            <li class="sidebar-dropdown-item"><a class="sidebar-link"
                                                                 th:href="@{/system/roles/list}"><span class="nav-icon"><i
                                    class="fa-light fa-circle-o"></i></span> <span
                                    class="sidebar-txt">Add Role</span></a></li>
<!--                            <li class="sidebar-dropdown-item"><a class="sidebar-link"-->
<!--                                                                 th:href="@{/system/roles/role_permissions}"><span class="nav-icon"><i-->
<!--                                    class="fa-light fa-circle-o"></i></span> <span class="sidebar-txt">Add Role Permission</span></a>-->
<!--                            </li>-->

                        </ul>

                    </li>
                    <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}">
                        <a class="sidebar-link has-sub" data-dropdown="userMGT" role="button"><span class="nav-icon"><i
                                class="fa-light fa-sliders-up"></i></span> <span class="sidebar-txt">User Management</span></a>
                        <ul class="sidebar-dropdown-menu" id="userMGT">
                            <li class="sidebar-dropdown-item"><a class="sidebar-link"
                                                                 th:href="@{/system/user/viewSystemUsers}"><span class="nav-icon"><i
                                    class="fa-light fa-circle-o"></i></span> <span
                                    class="sidebar-txt">User</span></a></li>


                        </ul>

                    </li>
                    <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}">
                        <a class="sidebar-link has-sub" data-dropdown="qualificationMGT" role="button"><span class="nav-icon"><i
                                class="fa-light fa-sliders-up"></i></span> <span class="sidebar-txt">Qualification</span></a>
                        <ul class="sidebar-dropdown-menu" id="qualificationMGT">
                            <li class="sidebar-dropdown-item">
                                <a class="sidebar-link" th:href="@{/system/qualification/education}">
                                    <span class="nav-icon"><i class="fa-light fa-circle-o"></i></span>
                                    <span class="sidebar-txt">Education</span></a>
                            </li>
                            <li class="sidebar-dropdown-item">
                                <a class="sidebar-link" th:href="@{/system/qualification/licences}">
                                    <span class="nav-icon"><i class="fa-light fa-circle-o"></i></span>
                                    <span class="sidebar-txt">Licences</span></a>
                            </li>

                        </ul>

                    </li>
                    <li class="sidebar-dropdown-item"><a class="sidebar-link" th:href="@{/system/change-password}">
                        <span class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> <span class="sidebar-txt">Changing Password</span></a>
                    </li>
                    <li class="sidebar-dropdown-item"><a class="sidebar-link" th:href="@{/system/financial-year/list}">
                        <span class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> <span class="sidebar-txt">Financial Year</span></a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link-group-title has-sub" role="button">Employee Management</a>
                <ul class="sidebar-link-group">
                    <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}">
                        <a class="sidebar-link" th:href="@{/system/manage/standardised_carder}"> <span class="nav-icon"><i
                            class="fa-light fa-sliders-up"></i></span> Standard Carder</a></li>
                    <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" th:href="@{/system/designation/manage}"> <span
                            class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> Position</a></li>
                    <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" th:href="@{/system/documents/list}"> <span
                            class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> Document Type</a></li>
                    <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" th:href="@{/system/employee/all}"><span
                            class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> Employee Manage</a></li>
                    <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}"><a class="sidebar-link"
                                                         th:href="@{/system/employee/warning}"><span class="nav-icon"><i
                            class="fa-light fa-sliders-up"></i></span> Warning</a></li>
                    <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" th:href="@{/system/employee/designation}"><span
                            class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> Transfer</a></li>
                    <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}"><a class="sidebar-link"
                                                         th:href="@{/system/employee/promotion}"><span class="nav-icon"><i
                            class="fa-light fa-sliders-up"></i></span> Promotion</a></li>
                    <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}">

                        <a class="sidebar-link has-sub" data-dropdown="terminationMGT" role="button"><span class="nav-icon"><i
                                class="fa-light fa-sliders-up"></i></span> <span class="sidebar-txt">Manage Terminations</span></a>
                        <ul class="sidebar-dropdown-menu" id="terminationMGT">
                            <li class="sidebar-dropdown-item">
                                <a class="sidebar-link" th:href="@{/termination/types/manage/all}">
                                    <span class="nav-icon"><i class="fa-light fa-circle"></i></span>
                                    <span class="sidebar-txt">Termination Type</span>
                                </a>
                            </li>
                            <li class="sidebar-dropdown-item">
                                <a class="sidebar-link" th:href="@{/system/terminations/list}">
                                    <span class="nav-icon"><i class="fa-light fa-circle"></i></span>
                                    <span class="sidebar-txt">Employee Termination</span>
                                </a>
                            </li>


                        </ul>
                    </li>

                </ul>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link-group-title has-sub" role="button">Leave Management</a>
                <ul class="sidebar-link-group">
                    <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}">
                        <a class="sidebar-link has-sub" data-dropdown="leaveSetup" role="button"><span class="nav-icon"><i
                                class="fa-light fa-layer-group"></i></span> <span class="sidebar-txt">Setup</span></a>
                        <ul class="sidebar-dropdown-menu" id="leaveSetup">
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" th:href="@{/system/leave/holidays/manage}">Holidays</a></li>
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" th:href="@{/system/leave/policy/all}">Leave Policy</a></li>
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" href="#">Leave Type</a></li>
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" th:href="@{/system/leave/entitlement/all}">Leave Entitlements</a>
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" th:href="@{/system/calender/view}">Calender</a></li>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a class="sidebar-link has-sub" data-dropdown="leaveApplication" role="button"><span
                                class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> <span
                                class="sidebar-txt">Leave Application</span></a>
                        <ul class="sidebar-dropdown-menu" id="leaveApplication">
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" href="#">Apply for Leave</a></li>
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" href="#">Requested
                                Applications</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a class="sidebar-link has-sub" data-dropdown="leaveReport" role="button"><span
                                class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> <span
                                class="sidebar-txt">Leave Reports</span></a>
                        <ul class="sidebar-dropdown-menu" id="leaveReport">
                            <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" href="#">Leave Report</a></li>
                            <li class="sidebar-dropdown-item"th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" href="#">Summary Report</a></li>
                            <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Employee'}"><a class="sidebar-link" href="#">My Leave Report</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link-group-title has-sub" role="button">Attendance</a>
                <ul class="sidebar-link-group">
                    <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}">
                        <a class="sidebar-link has-sub" data-dropdown="attendanceSetup" role="button"><span class="nav-icon"><i
                                class="fa-light fa-layer-group"></i></span> <span class="sidebar-txt">Setup</span></a>
                        <ul class="sidebar-dropdown-menu" id="attendanceSetup">
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" href="#">Manage Work Shift</a></li>
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" href="#">Dashboard Attendance</a></li>

                        </ul>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a class="sidebar-link has-sub" data-dropdown="attendanceReport" role="button"><span
                                class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> <span
                                class="sidebar-txt">Attendance Reports</span></a>
                        <ul class="sidebar-dropdown-menu" id="attendanceReport">
                            <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" href="#">Daily Attendance</a></li>
                            <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" href="#">Monthly Attendance</a></li>
                            <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Admin'}"><a class="sidebar-link" href="#">Summary Report</a></li>
                            <li class="sidebar-dropdown-item" th:if="${session.userRole == 'Employee'}"><a class="sidebar-link" href="#">My Attendance Report</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a th:href="@{/manual_attendance}" class="sidebar-link has-sub" role="button"><span
                                class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> <span
                                class="sidebar-txt">Manual Attendance</span></a>

                    </li>

                </ul>
            </li>
            <li class="sidebar-item" th:if="${session.userRole == 'Admin'}">
                <a class="sidebar-link-group-title has-sub" role="button">Settings</a>
                <ul class="sidebar-link-group">
                    <li class="sidebar-dropdown-item">
                        <a class="sidebar-link" role="button" th:href="@{/system/settings}"><span class="nav-icon"><i
                                class="fa-light fa-gear"></i></span> <span class="sidebar-txt">Settings</span></a>

                    </li>
                    <li class="sidebar-dropdown-item">
                        <a class="sidebar-link has-sub" data-dropdown="frontSettings" role="button"><span
                                class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> <span
                                class="sidebar-txt">Front Settings</span></a>
                        <ul class="sidebar-dropdown-menu" id="frontSettings">
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" href="#">General Setting</a></li>
                            <li class="sidebar-dropdown-item"><a class="sidebar-link" href="#">Front Services</a></li>

                        </ul>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a th:href="@{/manual_attendance}" class="sidebar-link has-sub" role="button"><span
                                class="nav-icon"><i class="fa-light fa-sliders-up"></i></span> <span
                                class="sidebar-txt">Manual Attendance</span></a>

                    </li>

                </ul>
            </li>




        </ul>

    </div>
</div>
</body>
</html>