<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>HRMIS [[${pageTitle}]] | UTJ</title>
</head>
<body>
<span layout:fragment="content">
       <div class="dashboard-breadcrumb mb-25">
            <h2>Designation</h2>

           <div class="btn-box d-flex flex-wrap gap-2">
               <a class="btn btn-sm btn-primary" th:href="@{/system/designation/new}"><i class="fa fa-plus-circle"></i> <span>Add New </span></a>                  </div>
        </div>
    <div class="row">
           <div class="col-xxl-5 col-sm-12 col-lg-5">
                <div class="panel">
                    <div class="panel-header panel">
                        <h5>ADD/EDIT Designation</h5>
                    </div>
                    <div class="panel-body">
                                <form  action="#"
                                       th:action="@{/system/designation/save}"
                                       th:object="${designation}"
                                       method="post">
                            <input type="hidden" th:field="*{id}" id="id">
                                    <div class="row g-3">
                                        <div class="col-xxl-12 col-lg-12 col-sm-12">

                                                <label for="inputCarderCategory" class="form-label">Standard Carder Category</label>
                                                <select id="inputCarderCategory" class="form-control form-control-sm" th:field="*{standard_carder.id}" required>
                                                    <option value ="" selected>Choose...</option>
                                                    <option th:each="sCarder : ${standardCarders}" th:value="${{sCarder.id}}" th:text="${sCarder.standardized_cadre_name}" ></option>
                                                </select>

                                        </div>
                                        <div class="col-xxl-12 col-lg-12 col-sm-12">

                                                <label for="position_title" class="form-label input__label">Position Name</label>
                                                <input  type="text" class="form-control input-style" id="position_title"
                                                        placeholder="Name" th:field="*{position_title}" required minlength="3"
                                                        maxlength="128"/>

                                        </div>
                                        <div class="col-xxl-12 col-lg-12 col-sm-12">

                                                <label for="basic_pay" class="form-label input__label">Basic Pay</label>
                                                <input type="number" class="form-control input-style" id="basic_pay"
                                                       placeholder="Basic Pay" th:field="*{basic_pay}" required minlength="8"
                                                       maxlength="12"/>

                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-style mt-4">Submit</button>
                                </form>
                    </div>
                </div>
           </div>

        <div class="col-xxl-7 col-lg-7 col-sm-12">
                <div class="panel">
                    <div class="panel-header">
                        <h5>All Designations</h5>
                    </div>
                    <div class="panel-body">

                        <table class="table table-dashed table-hover utj-dataTable all-designation-table table-striped"
                               id="allDesignationTable">
                            <thead>
                                <tr>
                                    <th>S/L</th>
                                    <th>Position Title</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="position , itrStat : ${designations}">

                                    <td th:text="${itrStat.index + 1}"></td>
                                      <td th:text="${position.position_title} ">Name</td>
                                    <td>
                                        <div class="utj-dropdown dropdown d-inline-block">
                                            <button aria-expanded="false" class="btn btn-sm btn-outline-primary"
                                                    data-bs-toggle="dropdown">Action <i
                                                    class="fa-regular fa-angle-down"></i></button>
                                            <ul class="utj-dropdown-menu dropdown-menu dropdown-slim dropdown-menu-sm">
                                                <li>
<!--                                                     th:href="@{'/system/designation/edit/' + ${position.id}}"-->
                                                  <a class="dropdown-item"

                                                     th:data-position-id="${position.id}" onclick="editDesignation(this)">
                                                <span class="dropdown-icon">
                                                    <i class="fa-light fa-pen-to-square"></i>
                                                </span> Edit
                                            </a>
                                                </li>
                                                <li><a class="dropdown-item"
                                                       th:href="@{'/system/designation/delete/'+${position.id}}" th:position="${position.id}"><span
                                                        class="dropdown-icon"><i
                                                        class="fa-light fa-trash-can"></i></span> Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>



                                </tr>
    </tbody>
                        </table>
                        <div class="table-bottom-control"></div>
                    </div>
                </div>
            </div>
    </div>
</span>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            // Add event listener for form submission

        });
        /*]]>*/

        $(function () {
            //------------------------------------------------------------------------------------------------------------------
            // All Designation Table In CRM Module
            //------------------------------------------------------------------------------------------------------------------
            if ($('#allDesignationTable').length) {
                var dataTable = $('#allDesignationTable').DataTable({
                    scrollX: true,
                    "columnDefs": [{
                        "targets": 'no-sort',
                        "orderable": false
                    }],
                });
                $('#allDesignationTable_filter input').addClass('form-control').attr("placeholder", "Search...").addClass('form-control-sm');
                $('#allDesignationTable_length').prependTo('#allDesignationTableLength').find('select').addClass('form-control form-control-sm px-3');
                $('#allDesignationTable_filter').prependTo('#tableSearch');
                $('#allDesignationTable_info, #allDesignationTable_paginate').prependTo('.table-bottom-control');


                $('#allDesignationTable').on('draw.dt', function () {
                    $('#allDesignationTable tr').on('click', function () {
                        $(this).toggleClass('selected');
                        $(this).siblings().removeClass('selected');
                    });

                });
            }
        });

        function editDesignation(link) {
            var positionId = $(link).data('position-id');
            var formModeInput = $('#formMode');

            // Set the form into edit mode
            formModeInput.val('edit');
            var fetchPositionUrl = /*[[@{/system/designation/get/{id}}]]*/;
            var url = fetchPositionUrl.replace("{id}", positionId); // Replace {id} with the actual value
            // Use AJAX to fetch designation data based on positionId
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    // Populate the form fields with data from the server

                    $('#inputCarderCategory').val(data.standardized_cadre_id);
                    $('#position_title').val(data.position_title);
                    $('#basic_pay').val(data.basic_pay);
                },
                error: function (error) {
                    // Handle error here
                }
            });


        }

    </script>
</th:block>
</body>

</html>